@use "../base/variables";

.btn-libro {
    display: none;
    margin-top: 20px;
    padding: 12px 25px;

    background: variables.$color-principal;
    color: variables.$color-fondo;

    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: all .3s ease;

    &:hover {
        background: #f5e6b3;
        transform: translateY(-2px);
        box-shadow: 0 0 15px rgba(221, 210, 151, .4);
    }
}

.btn-magico {
    display: none;
    margin-top: 15px;
    padding: 8px 18px;

    font-size: .9rem;
    border-radius: 20px;

    background: linear-gradient(
        135deg,
        variables.$color-principal,
        variables.$color-texto
    );

    color: variables.$color-fondo;
    text-decoration: none;

    transition: all .3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow:
            0 0 15px rgba(221, 210, 151, .6),
            0 0 25px rgba(183, 156, 237, .3);
    }
}

.ver-mas {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 14px;

    background: rgba(221, 210, 151, .08);
    border: 1px solid rgba(221, 210, 151, .35);
    border-radius: 20px;

    color: variables.$color-principal;
    text-decoration: none;

    font-size: .8rem;
    font-weight: 600;

    transition: all .3s ease;

    &:hover {
        background: rgba(221, 210, 151, .15);
        transform: translateY(-2px);
        box-shadow: 0 0 12px rgba(221, 210, 151, .25);
    }
}

.btn-sinopsis {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all .3s ease;
}

.pendiente-card:hover .btn-sinopsis {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.form-lectores button {
    align-self: center;
    padding: 9px 20px;

    border: none;
    border-radius: 25px;

    background: variables.$color-principal;
    color: variables.$color-fondo;

    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 15px rgba(232, 217, 143, .4);
    }
}

.btn-favorito {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 18px;

    border-radius: 20px;

    background: linear-gradient(
        135deg,
        variables.$color-principal,
        variables.$color-texto
    );

    color: variables.$color-fondo;
    text-decoration: none;

    font-size: .9rem;
    font-weight: 600;

    transition: all .3s ease;

    &:hover {
        color: variables.$color-fondo;
        transform: translateY(-3px);
        box-shadow:
            0 0 15px rgba(221, 210, 151, .55),
            0 0 25px rgba(183, 156, 237, .25);
    }
}