@use "../base/variables";

.pendiente-card {
    width: 150px;
    text-align: center;
    transition: all .3s ease;

    &:hover {
        transform: translateY(-8px);

        img {
            transform: translateY(-8px) scale(1.03);
            box-shadow:
                0 10px 25px rgba(0, 0, 0, .6),
                0 0 20px rgba(221, 210, 151, .45);
        }
    }

    img {
        width: 130px;
        height: 195px;
        object-fit: cover;

        border: 2px solid rgba(221, 210, 151, .6);
        border-radius: 12px;

        cursor: pointer;
        box-shadow:
            0 6px 18px rgba(0, 0, 0, .45),
            0 0 12px rgba(221, 210, 151, .25);

        transition: all .3s ease;
    }

    h3 {
        margin-top: 12px;
        margin-bottom: 4px;

        font-size: 1.05rem;
    }

    p {
        margin: 0;

        font-size: .9rem;
        opacity: .85;
    }
}

.libro-biblioteca {
    position: relative;

    width: 130px;

    text-align: center;

    img {
        width: 130px;
        height: 195px;
        object-fit: cover;

        margin-bottom: 12px;

        border: 2px solid rgba(221, 210, 151, .5);
        border-radius: 12px;

        transition: all .3s ease;

        &:hover {
            transform: translateY(-7px);
            box-shadow: 0 0 20px rgba(221, 210, 151, .35);
        }
    }
}

.resena-card {
    max-width: 220px;
    height: 100%;
    margin: auto;
    padding: 12px;

    background: linear-gradient(
        135deg,
        rgba(37, 52, 79, .95),
        rgba(62, 50, 110, .9)
    );

    border: 1px solid rgba(221, 210, 151, .35);
    border-radius: 18px;

    box-shadow: 0 0 18px rgba(221, 210, 151, .15);
    transition: all .3s ease;

    &:hover {
        transform: translateY(-7px);
        box-shadow:
            0 0 20px rgba(221, 210, 151, .35),
            0 0 30px rgba(183, 156, 237, .2);
    }

    img {
        width: 115px;
        height: 170px;
        object-fit: cover;

        margin-bottom: 12px;

        border: 2px solid rgba(221, 210, 151, .5);
        border-radius: 12px;
    }

    h3 {
        min-height: 48px;
        margin: 6px 0 3px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.1rem;
        text-align: center;
    }
}

.favorito-contenido {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    gap: 25px;

    padding: 25px;

    background: linear-gradient(
        135deg,
        rgba(232, 217, 143, .12),
        rgba(62, 50, 110, .35)
    );

    border-left: 4px solid variables.$color-principal;
    border-radius: 25px;

    box-shadow: 0 0 18px rgba(232, 217, 143, .12);
}

.card-body {
    padding: 20px;
}