@use "../base/variables";

.footer{
    border-top:1px solid rgba(221,210,151,0.3);
    background-color:#1b2740;
    background-image:url(../assents/fondofooter2.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    margin-top:60px;
    padding:15px 20px;

    position:relative;
    color:variables.$color-principal;

    &::before{
        content:"";
        position:absolute;
        inset:0;
        background:rgba(12,10,35,0.5);
        z-index:1;
    }

    a{
        color:variables.$color-principal;
        text-decoration:none;
        transition:.3s;

        &:hover{
            color:#f5e6b3;
            text-shadow:0 0 10px rgba(221,210,151,0.8);
        }
    }
}

.footer-contenido{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:40px;

    position:relative;
    z-index:2;
}

.footer-logo{
    img{
        width:80px;
        margin-bottom:10px;
    }
}

.footer-redes{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;

    a{
        font-size:28px;

        &:hover{
            transform:translateY(-5px);
        }
    }
}

.iconos{
    display:flex;
    gap:20px;

    a{
        font-size:28px;

        &:hover{
            transform:translateY(-5px);
        }
    }
}

.footer-copy{
    text-align:center;
    margin-top:30px;
    opacity:.7;
}

.separador-footer{
    margin:15px 0;
    text-align:center;
    letter-spacing:8px;
    color:variables.$color-principal;
    opacity:.7;
}