@use "variables";

h1,
h2,
h3 {
    font-family: variables.$fuente-titulos;
    font-weight: 500;
    font-style: normal;
    color: variables.$color-principal;
}

body {
    background-color: variables.$color-fondo;
    color: variables.$color-texto;
    font-family: variables.$fuente-texto;
    animation: fondo 1s ease;

    min-height: 100vh;
    overflow-x: hidden;
}

a,
button {
    transition: .3s ease;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 2px solid variables.$color-principal;
    outline-offset: 4px;
    box-shadow: 0 0 12px rgba(232, 217, 143, .4);
}

a:active,
button:active {
    transform: scale(.97);
}

@keyframes fondo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flotar {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

@keyframes aparecerTitulo {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes subrayado {
    from {
        width: 0;
    }

    to {
        width: 70px;
    }
}